.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 55px;
    height: 55px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    margin : 5px 5px;
}
.text-decal {
    margin-right: -20px;
}
input[type="radio"]{
    visibility: hidden;
    margin-left: -20px;
}
.checked{
    background-color: midnightblue;
    margin-left: -10px;
}
.btn{
    margin-right: 10px;
}

.formCotisation {
    margin-top: 20px;
}

.formCotisationLibre {
    margin-top:20px;
    margin-bottom: 20px;
}
.money_input {
    width: 100px;
}
.jumbotron {
    padding: 15px;
}
.bg-danger {
    margin-bottom: 20px;
    font-weight: bold;
}

.ou {
    margin-top:15px;
    margin-bottom:15px;
}

