
    {{ form_widget(item.social, { 'attr' : { 'class' : 'col-sm-3 input-sm' } }) }}
    <div class="col-sm-6">
        {{ form_widget(item.value, { 'attr' : { 'class' : 'form-control' } }) }}
    </div>
