{% extends "::application.html.twig" %} 

{% block title %}Aide{% endblock %}
    {% block body %}
        <div id="page-content">
            <div id='wrap'>
                <div id="page-heading" class="hidden-print">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                        <li class="active">Aide</li>
                    </ol>

                    <h1>Aide</h1>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-danger">
                              <div class="panel-heading">
                                <h4>Cotisation</h4>
                                <div class="options">
                                    <a href="#"><i class="fa fa-cogs"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="accordioninpanel" class="accordion-group">
                                    <div class="accordion-item">
                                        <a class="accordion-title" data-toggle="collapse" data-parent="#accordioninpanel" href="#cotisation1"><h4>J'ai réglé la facture de ma cotisation sur Paypal mais elle est marquée comme "En attente de paiement"</h4></a>
                                        <div id="cotisation1" class="collapse">
                                            <div class="accordion-body">Le processus étant asynchrone, il faut attendre que le trésorier valide votre cotisation sur la plateforme.<br>
                                            Si vous trouvez le processus de validation trop long, n'hésitez pas à envoyer un mail à <a href="mailto:support@anelis.org">support@anelis.org</a></div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <a class="accordion-title" data-toggle="collapse" data-parent="#accordioninpanel" href="#cotisation2"><h4>Comment faire un don à ANELIS ?</h4></a>
                                        <div id="cotisation2" class="collapse">
                                            <div class="accordion-body ">Il existe plusieurs moyens de faire un don à ANELIS. Vous pouvez par exemple souscrire à une cotisation "Bienfaiteur" d'un montant supérieur à 10 €.<br>
                                            Vous pouvez également effectuer un virement (<strong>IBAN</strong> - FR76 3000 3006 5600 0372 8665 162 / <strong>BIC</strong> - SOGEFRPP) ou un chèque à l'ordre "ANELIS" (adresse : ISIMA, Campus des Cézeaux – BP 10125 – 63173 Aubière CEDEX – France).</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <a class="accordion-title" data-toggle="collapse" data-parent="#accordioninpanel" href="#cotisation3"><h4>Combien de temps la cotisation est-elle valable ?</h4></a>
                                        <div id="cotisation3" class="collapse">
                                            <div class="accordion-body">Une cotisation est valable 1 an. Nous parlons ici d'une année civile et non pas scolaire. Vous avez la possibilité de cotiser pour plusieurs années en même temps.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div> <!--wrap -->
    </div> <!-- page-content -->
{% endblock %}
