{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

	{% block title %}Mot de passe oublié{% endblock %}

		{% block optbody %}
			class="focusedform"
		{% endblock %}

		{% block content %}
			<div class="verticalcenter">
				<a href="{{ path('application_main_homepage') }}"><img src="{{ asset('assets/img/anelis-logo.png') }}" alt="Logo" class="brand" /></a>
				<div class="panel panel-primary">
					<div class="panel-body">
						<h4 class="text-center" style="margin-bottom: 25px;">Mot de passe oublié</h4>
						{% if invalid_username is defined %}
							<div class="text-center"><span class="alert-danger">Nom d'utilisateur incorrect</span></div>
						{% endif %}
						<form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input type="text" id="username" name="username" required="required" class="form-control" placeholder="Nom d'utilisateur : prenom.nom.promo" />
									</div>
								</div>
								<div class="text-center">Votre username n'existe pas ? <a href="mailto:support@anelis.org">Contactez-nous</a> </div>
							</div>
					</div>
					<div class="panel-footer">
						<div class="pull-right">
							<button class="btn btn-success">Réinitialiser</button>
						</div>
						</form>
						<div class="pull-left">
							<a href="{{ path('fos_user_security_login') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
						</div>
					</div>
				</div>
			</div>

		{% endblock %}
