{% extends "::application.html.twig" %} 

{% block title %}Modifier un parcours{% endblock %}
{% form_theme form 'ApplicationCareerBundle:Form:career.type.html.twig' %}
        {% block body %}

            <div id="page-content">
              <div id='wrap'>
                <div id="page-heading">
                  <ol class="breadcrumb">
                    <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
                    <li><a href="{{ path('application_career_homepage') }}" title="Parcours">Parcours</a></li>
                    <li class="active">Modifier</li>
                </ol>
                <h1>Modifier un Parcours</h1>
            </div>
            <div class="container">

                <div class="panel panel-midnightblue">
                    <div class="panel-heading">
                      <h4>Modifier un Parcours</h4>
                  </div>
                  <div class="panel-body collapse in">
                    {{ form_widget(form) }}
                </form>
                </div>
            </div>

        </div>

    </div>
    <!--wrap -->
</div>
<!-- page-content -->


{% endblock %}