<li class="divider"></li>
<li><a href="{{ path('application_yearbook_listmessages') }}"><i class="fa fa-tasks"></i> <span>Yearbook</span> {% if number > 0 %}<span class="badge badge-info">{{number}}{% endif %}</span></a>
</li>