{% extends "::application.html.twig" %} 
{% form_theme form 'AdminUserBundle:Form:user.html.twig' %}
{% block title %}Mon Compte{% endblock %}

{% block body %}
<div id="page-content">
  <div id='wrap'>
    <div id="page-heading">
      <ol class="breadcrumb">
        <li><a href="{{ path('application_main_homepage') }}">Plateforme</a></li>
        <li class="active">Mon Compte</li>
      </ol>
      <h1>Mon Compte</h1>
    </div>

    <div class="container">      
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Mon Compte</h4>
            </div>
              {{ form_widget(form) }}
              <br>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}